<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Share</title>
        <link rel="stylesheet" href="/output.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body class="bg-gray-100 flex flex-col items-center justify-center">
        <div class="wrapper max-w-7xl w-full h-screen flex flex-col items-center">
            <div class="w-full flex justify-between items-center mb-6 mt-6">
                <h1 class="text-3xl font-bold text-gray-800">Hello <%= locals.user.first_name %> <%= locals.user.last_name %></h1>
                <a 
                    href="/logout" 
                    class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition duration-300"
                >
                    Logout
                </a>
            </div>

            <div class="w-full mb-6 flex flex-col gap-4 md:flex-row">
                <button 
                    class="new-folder bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300"
                >
                    New folder
                </button>
                <button 
                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300"
                >
                    New file upload
                </button>
                <button 
                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-purple-600 transition duration-300"
                >
                    New folder upload
                </button>
            </div>

            <dialog 
                class="new-folder-modal top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-0 rounded-md shadow-xl backdrop:bg-gray-500 backdrop:opacity-50"
            >
                <div class="p-6 rounded-md">
                    <form action="/" method="POST" class="space-y-4">
                        <div class="flex flex-col gap-3">
                            <label 
                                for="folder" 
                                class="text-xl font-semibold text-gray-700"
                            >
                                New Folder
                            </label>
                            <input 
                                type="text" 
                                name="folder" 
                                id="folder" 
                                class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                            >
                        </div>
                        <div class="flex space-x-4">
                            <button 
                                type="submit" 
                                class="create flex-1 bg-blue-500 text-white py-2 rounded-md disabled:bg-slate-300 hover:bg-blue-600 transition duration-300"
                            >
                                Create
                            </button>
                            <button 
                                type="button" 
                                class="cancel flex-1 bg-red-500 text-white py-2 rounded-md hover:bg-red-600 transition duration-300"
                            >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </dialog>

            <!-- Folders and Files Sections -->
            <div class="w-full flex flex-col gap-6">
                <div class="w-full folders bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold mb-4 text-gray-700">Your Folders</h2>
                    <div class="flex flex-col w-full">
                        <div class="flex justify-start bg-gray-100 text-gray-600 uppercase text-sm px-4 py-2">
                            <div class="w-1/3 text-left">Name</div>
                            <div class="w-1/3 text-left">Created At</div>
                        </div>
                        <div class="flex flex-col text-gray-600 text-sm">
                            <% if (locals.folders.length > 0) { %>
                                <% locals.folders.forEach((folder, i) => { %>
                                    <div class="folder flex justify-start items-center border-b hover:bg-gray-50 px-4 py-2">
                                        <div class="w-full truncate"><%= folder.name %></div>
                                        <div class="w-full">
                                            <%= new Intl.DateTimeFormat('en-US', { 
                                                weekday: 'short', 
                                                day: '2-digit', 
                                                month: '2-digit', 
                                                year: 'numeric' 
                                            }).format(new Date(folder.created_at)) %>
                                        </div>
                                        <div class="relative w-full">
                                            <button class="menu-btn p-3 rounded-full" data-menu="menu-<%= i %>">
                                                <i class="fa-solid fa-ellipsis-vertical fa-sm"></i>
                                            </button>
                                            <div class="hidden menu menu-<%= i %> w-28 absolute z-10 bg-white rounded-md shadow-md" data-menu-hidden="true">
                                                <a href="#" class="p-2 border-b hover:bg-gray-200">Open</a>
                                                <a href="#" class="p-2 border-b hover:bg-gray-200">Rename</a>
                                                <a href="/folders/<%= folder.id %>/delete" class="p-2 border-b hover:bg-gray-200">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <div class="py-4 text-center text-gray-500">No folders found</div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="w-full files bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold mb-4 text-gray-700">Your Files</h2>
                    <div class="flex flex-col w-full">
                        <div class="flex justify-start bg-gray-100 text-gray-600 uppercase text-sm px-4 py-2">
                            <div class="w-1/3 text-left">Name</div>
                            <div class="w-1/3 text-left">Uploaded At</div>
                        </div>
                        <div class="flex flex-col text-gray-600 text-sm">
                            <% if (locals.files.length > 0) { %>
                                <% locals.files.forEach((file) => { %>
                                    <div class="flex justify-start border-b hover:bg-gray-50 px-4 py-2">
                                        <div class="w-1/3 truncate"><%= file.name %></div>
                                        <div class="w-1/3">
                                            <%= new Intl.DateTimeFormat('en-US', { 
                                                weekday: 'short', 
                                                day: '2-digit', 
                                                month: '2-digit', 
                                                year: 'numeric' 
                                            }).format(new Date(file.uploaded_at)) %>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <div class="py-4 text-center text-gray-500">No files found</div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const newFolderBtn = document.querySelector('.new-folder');
                const newFolderModal = document.querySelector('.new-folder-modal');
                const newFolderFormInputs = document.querySelectorAll('.new-folder-modal input');
                const cancelFolderBtn = document.querySelector('.new-folder-modal .cancel');
                const folderMenuBtns = document.querySelectorAll('.folder .menu-btn');

                // Open New Folder Modal
                newFolderBtn.addEventListener('click', () => {
                    const createFolderBtn = document.querySelector('.new-folder-modal .create');
                    createFolderBtn.setAttribute('disabled', '');
                    newFolderModal.showModal();
                });
        
                // Enable/Disable Create Button based on input
                newFolderFormInputs.forEach(input => {
                    input.addEventListener('input', () => {
                        const createFolderBtn = document.querySelector('.new-folder-modal .create');
                        const disable = input.value.trim() === '';
                        if (disable) {
                            createFolderBtn.setAttribute('disabled', '');
                        } else {
                            createFolderBtn.removeAttribute('disabled');
                        }
                    });
                });
        
                // Cancel New Folder Modal
                cancelFolderBtn.addEventListener('click', () => {
                    const form = newFolderModal.querySelector('form');
                    form.reset();
                    newFolderModal.close();
                });
        
                // Toggle Folder Menu
                folderMenuBtns.forEach(btn => {
                    btn.addEventListener('click', (e) => {
                        e.stopPropagation(); // Prevent this click from triggering the document click event
                        const menu = btn.getAttribute('data-menu');
                        const menuElem = document.querySelector(`.${menu}`);
                        const isHidden = menuElem.classList.contains('hidden');
                        const allOpenMenus = document.querySelectorAll('.menu:not(.hidden)');

                        // Close all open menus before opening the clicked one
                        allOpenMenus.forEach(menu => {
                            menu.classList.add('hidden');
                            menuElem.classList.remove('flex');
                            menuElem.classList.remove('flex-col');
                        });

                        // Open the clicked menu
                        if (isHidden) {
                            menuElem.classList.remove('hidden');
                            menuElem.classList.add('flex');
                            menuElem.classList.add('flex-col');
                            menuElem.setAttribute('data-menu-hidden', 'false');
                        }
                    });
                });

                // Close menu if clicked outside
                document.addEventListener('click', (e) => {
                    const openMenus = document.querySelectorAll('.menu:not(.hidden)');
                    openMenus.forEach(menu => {
                        // Check if the click happened outside the menu and its button
                        if (!menu.contains(e.target) && !menu.previousElementSibling.contains(e.target)) {
                            menu.classList.add('hidden');
                            menuElem.classList.remove('flex');
                            menuElem.classList.remove('flex-col');
                            menu.setAttribute('data-menu-hidden', 'true');
                        }
                    });
                });
            });
        </script>
    </body>
</html>